body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.container{
    width: 400px;
    height: auto;
    background-color: #0f192a;
    text-align: center;
    font-size: 2.0em;
    border-radius: 10px;
    margin: 0 auto;
    min-height: 400px;
}

.brandName{
    width: 100%;
    height: 9%;
    background-color: #0f192a;
    color: white;
    text-align: center;
}

.brandName span{
    font-weight: bold;
    color : #0B76E9;
}

.displayBox{
    width: 90%;
    height: auto;
    min-height: 150px;
    background-color: #3f5fbf;
    margin: 0 5% 5% 5%;
    border-radius: 10px;
    word-wrap: break-word

}

.displayBox div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.buttonContainer {
    position: relative;
    width: 90%;
    height: 70%;
    margin: 5%;
}

.clearButtonsContainer {
    height: 12%;
    width: 70%;
    margin-bottom: 2%;
}

.clearButtonsContainer div{
    display: inline-block;
    width: 40%;
    height: 100%;
    margin-left: 3%;
    background-color: red;
    border-radius: 10px;
}

.clearButtonsContainer span{
    position: relative;
    top: 12%;
}

.numberButtonsContainer{
    width: 70%;
    height: 75%;
}

.numberButtonsContainer div{
    display: inline-block;
    width: 30%;
    height: 18%;
    margin: 4% 0 4% 0;
    background-color: grey;
    border-radius: 10px;
}

.numberButtonsContainer span{
    position: relative;
    top: 17%;
}

.numberButtonsContainer div:hover,
.operatorButtonContainer div:hover,
.clearButtonsContainer div:hover{
    background-color: darkorange;
    color : red;
}


.operatorButtonContainer{
    float: right;
    height: 93%;
    width: 20%;
    position: relative;
    right: 5%;
    bottom : 14%;
}

.operatorButtonContainer div{
    width: 100%;
    height: 21%;
    margin-bottom: 15%;
    background-color: #428bdd;
    border-radius: 10px;

}

.operatorButtonContainer span{
    position: relative;
    top: 25%;
}

.addYellow {
    background-color: yellow;
}

@media screen and (max-width: 500px) {
    body{
        background-image: none;
        background-color: #0f192a;
    }

    .container{
        width: 100vw;
    }
    .displayBox {
        width: 90%;
        min-height: 200px;
    }
}